body{
    padding: 0;
    margin: 0;
    display: grid;
    background-color: whitesmoke;
}

.menu_bar {
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 55px;
}

.menu {
    display: grid;
    grid-template-columns: 5% 5% 5% 5% 60% 75%; 
    background-color: black;
    width: 1280px;
    height: 55px;
    margin: 0px auto 0px auto;
}

.logo {
    background-color: yellow;
    width: 50px;
    height: 55px;
}

.button {
    background-color: whitesmoke;
    width: 60px;
    height: 25px;
    margin: auto auto auto 50px;
}

.contact {
    background-color: whitesmoke;
    width: 80px;
    height: 25px;
    margin: auto 50px auto 600px;
}

.hirebutton {
    background-color: yellow;
    width: 75px;
    height: 55px;
}

.mainphotocontainer {
    display: grid;
    background-color: rgb(255, 153, 0);
    width: 100%;
    height: 100%;

}

.photo {
    display: grid;
    grid-template-rows: 30% 30%;
    background-color: rgb(255, 153, 0);
    width: 1280px;
    height: 100%;
    margin: auto auto auto auto;
}
.message {
    background-color: black;
    width: 350px;
    height: 100px;
    margin: 400px auto auto 150px;
}

.letsgobutton {
    background-color: rgb(255, 208, 0);
    width: 200px;
    height: 40px;
    margin: 300px auto auto 150px;
}