body{
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: white;
}

.words{
    width: 60%;
    height: 1250px;
    background-color:blue;
    float: left;
}

.content{
    width: 80%;
    height: 1436px;
    margin: 25% 25% 25% 25%;
}

h1{
    color: white;
    font-family: avenir;
    font-weight: bold;
    font-size: 2em;
    line-height: 12px;
}

p{
    color: white;
    font-family: avenir;
    line-height: 1.5;
    font-size: 1em;
}

.poemparagraph{
    width: 415px;
    height: 7000px;
}

.largenumberscontainer{
    width: 40%;
    height: 800px;
    margin: 0px auto auto auto;
    float: right;
}

.largenumber{
    width: 80%;
    height: 800px;
    margin: 5% auto auto 25%;
}

h3{
    color: blue;
    font-family: avenir;
    font-size:  30em;
    margin-top: 0px;
    word-spacing: -100px;
    line-height: 1;
}

/* ----------- SMART PHONES ----------- */
 
 
@media only screen and (max-width: 800px) {
    body{
        background: orange;
    }
}
 
/* ----------- TABLETS ----------- */
 
@media only screen and (min-width: 800px) and (max-width: 1280px) {
    body{
        padding: 0;
        margin: 0;
        display: inline-block;
        background: #0000FF;
    }
    .words{
        width: 60%;
        height: 1250px;
        background-color:white;
        float: left;
    }
    
    .content{
        width: 80%;
        height: 1436px;
        margin: 25% 25% 25% 25%;
    }
    
    h1{
        
        color: black;
        font-family: avenir;
        font-weight: bold;
        font-size: 2em;
        line-height: 12px;
        border-bottom: blue 10px;
    }
    
    p{
        color:black;
        font-family: avenir;
        line-height: 1.5;
        font-size: 1em;
    }
    
    .poemparagraph{
        width: 415px;
        height: 7000px;
    }
    
    .largenumberscontainer{
        width: 40%;
        height: 800px;
        margin: 0px auto auto auto;
        float: right;
    }
    
    .largenumber{
        width: 80%;
        height: 800px;
        margin: 5% auto auto 25%;
    }
    
    h3{
        color: white;
        font-family: avenir;
        font-size:  30em;
        margin-top: 0px;
        word-spacing: -100px;
    }
}