body{
    padding: 0;
    margin: 0;
    display: inline-block;
    background-color: white;
}

.words{
    width: 60%;
    height: 100%;
    background-color:blue;
    float: left;
}

.content{
    width: 60%;
    height: 100%;
    margin: 15% 25% 25% 15%;
}

.hlineone{
    border-bottom: 15px solid white;
}

h1{
    color: white;
    font-family: avenir;
    font-weight: bold;
    font-size: 4em;
    line-height: 80px;
}
.poemparagraph{
    width: 60%;
    height: 100%;
    margin-top: 200px;
}

p{
    color: white;
    font-family: avenir;
    line-height: 1.5;
    font-size: 1.5em;
}
h4{
    color: white;
    font-family: avenir;
    line-height: 1.5;
    font-size: 1.7em;
    text-align: right;
    margin-top: 200px;
}
.hlinetwo{
    border-bottom: 15px solid white;
    margin-top: 200px;
}

.largenumberscontainer{
    width: 40%;
    height: 100%;
    margin: 0px auto auto auto;
    float: right;
}

.largenumber{
    width: 80%;
    height: 100%;
    margin: 5% auto auto 15%;
}

h3{
    color: blue;
    font-family: avenir;
    font-size:  30em;
    margin-top: 0px;
    word-spacing: -100px;
    line-height: 1;
}



/* ----------- SMART PHONES ----------- */
 
 
@media only screen and (max-width: 800px) {
    body{
        padding: 0;
        margin: 0;
        display: grid;
        background: blue;
    }

    .words{
        width: 100%;
        height: 100%;
        background-color: white;
    }
    
    .content{
        width: 60%;
        height: 100%;
        margin: 15% 25% 25% 15%;
    }
    
    .hlineone{
        border-bottom: 15px solid blue;
    }

    h1{
        color: black;
        font-family: avenir;
        font-weight: bold;
        font-size: 2em;
        line-height: 30px;
    }
    .poemparagraph{
        width: 80%;
        height: 100%;
        margin-top: 150px;
    }
    
    p{
        color: black;
        font-family: avenir;
        line-height: 1.5;
        font-size: 1.5em;
    }
    h4{
        color: black;
        font-family: avenir;
        line-height: 1.5;
        font-size: 1.7em;
        text-align: right;
        margin-top: 100px;
    }
    .hlinetwo{
        border-bottom: 15px solid blue;
        margin-top: 150px;
    }
    
    .largenumberscontainer{
        width: 100%;
        height: 700px;
        margin-top: 0px;
        overflow: hidden;
        position: relative;
    }
    
    .largenumber{
        width: 300vw;
        height: 700px;
        position: absolute;
        bottom: -10px;
        margin-left:0px;
        
    }
    
    h3{
        color: white;
        font-family: avenir;
        font-size:  20em;
        margin-top: 0px;
        line-height: 1;
        text-align: left;
    }
}
 

/* ----------- TABLETS ----------- */
 
@media only screen and (min-width: 800px) and (max-width: 1280px) {
    body{
        padding: 0;
        margin: 0;
        display: inline-block;
        background: #0000FF;
    }
    .words{
        width: 60%;
        height: 100%;
        background-color: white;
        float: left;
    }
    
    .content{
        width: 60%;
        height: 100%;
        margin: 15% 25% 25% 15%;
    }
    
    .hlineone{
        border-bottom: 15px solid blue;
    }
    
    h1{
        color: black;
        font-family: avenir;
        font-weight: bold;
        font-size: 2em;
        line-height: 40px;
    }
    .poemparagraph{
        width: 60%;
        height: 100%;
        margin-top: 150px;
    }
    
    p{
        color: black;
        font-family: avenir;
        line-height: 1.5;
        font-size: 1.5em;
    }
    h4{
        color: black;
        font-family: avenir;
        line-height: 1.5;
        font-size: 1.7em;
        text-align: right;
        margin-top: 150px;
    }
    .hlinetwo{
        border-bottom: 15px solid blue;
        margin-top: 150px;
    }
    
    .largenumberscontainer{
        width: 40%;
        height: 100%;
        margin: 0px auto auto auto;
        float: right;
    }
    
    .largenumber{
        width: 80%;
        height: 100%;
        margin: 5% auto auto 15%;
    }
    
    h3{
        color: white;
        font-family: avenir;
        font-size:  15em;
        margin-top: 0px;
        word-spacing: -50px;
        line-height: 1;
    }
}