body {
    display:grid;
    background-color: whitesmoke;  
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

p{
    font-family: source-code-pro,monospace;
    font-weight: 400;
    font-style: normal;
}

.container{
    display:grid;
    width: 1300px;
    background-color: lightpink;
    margin: 75px auto auto auto;
}

.nav {
    display: grid;
    width: 1300px;
    height: 75px;
    font-family: 'Open Sans', sans-serif;
    grid-template-columns: 1fr 1fr;
}

.name{
    display:grid;
    width: 800px;
    font-style: italic;
    font-weight: 800;
    font-size: 3.5em;
}

.menu{
    display: grid;
    width: 500px;
    height: 30px;
    margin: 45px auto auto auto;
    grid-template-columns: 34% 33% 33%;
}

.about{
    display:grid;
    font-style: italic;
    font-weight: 800;
    text-align: right;
    
}

a{
    color: black;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

  /* mouse over link */
a:hover {
    color: hotpink;
}

.work{
    display:grid;
    font-style: italic;
    font-weight: 800;
    text-align: right;
}

.contact{
    display:grid;
    text-align: right;
    font-style: italic;
    font-weight: 800;
}
.pinkbarone{
    display:grid;
    width: 1300px;
    height: 22px;
    background-color: #FF73D6;
}


.seemorecontainer1{
    display: grid;
    background-color: lightgrey;
    width: 400px;
    height: 400px;
    font-family: 'Open Sans', sans-serif;
}
.projects {
    display: grid;
    width: 1300px;
    height: 400px;
    grid-template-columns: 2fr 2fr 2fr;
    row-gap: 50px;
    column-gap: 50px;
    background-color:orange;
    margin: auto;
  }

  .project {
    background: red;
    width: 400px;
    height: 400px;
  }

  .see_more {
    height: 400px;
    background-color: orchid;
    grid-column: span 3;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.welcomecontainer{
    display:grid;
    width: 1300px;
    grid-template-columns: 50% 50%;
}

.welcomewords{
    display:grid;
    background-color: olivedrab;
    width: 650px;
    height: 440px;
    margin-top: 125px;
}

.welcome{
    display:grid;
    background-color: chartreuse;
    width: 275px;
    height: 250px;
}

.profilepic{
    display:grid;
    background-color: lightskyblue;
    width: 650px;
    height: 440px;
    margin-top: 125px;
}

.projecttitle{
    display:grid;
    background-color: chartreuse;
    width: 650px;
    height: 250px;
}
