body {
    display:grid;
    background-color: whitesmoke;  
}

img{
    max-width: 100%;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
}

p{
    font-family: source-code-pro,monospace;
    font-weight: 400;
    font-style: normal;
}

.container{
    display:grid;
    width: 1300px;
    margin: 75px auto auto auto;
}

.nav {
    display: grid;
    width: 1300px;
    height: 75px;
    font-family: 'Open Sans', sans-serif;
    grid-template-columns: 1fr 1fr;
}

.name{
    display:grid;
    width: 800px;
    font-style: italic;
    font-weight: 800;
    font-size: 3.5em;
}

.menu{
    display: grid;
    width: 500px;
    height: 30px;
    margin: 45px auto auto auto;
    grid-template-columns: 34% 33% 33%;
}

.about{
    display:grid;
    font-style: italic;
    font-weight: 800;
    text-align: right;
    
}

a{
    color: black;
}

/* unvisited link */
a:link {
    color: black;
    text-decoration: none;
}

  /* mouse over link */
a:hover {
    color: rgb(255, 64, 198);
}

.work{
    display:grid;
    font-style: italic;
    font-weight: 800;
    text-align: right;
}

.contact{
    display:grid;
    text-align: right;
    font-style: italic;
    font-weight: 800;
}
.pinkbarone{
    display:grid;
    width: 1300px;
    height: 22px;
    background-color: rgb(255, 64, 198);
}

.seemorecontainer1{
    display: grid;
    width: 400px;
    height: 400px;
    font-family: 'Open Sans', sans-serif;
}
.projects {
    display: grid;
    width: 1300px;
    height: 400px;
    grid-template-columns: 2fr 2fr 2fr;
    row-gap: 50px;
    column-gap: 50px;
    margin: auto;
  }

.project {
    background: blue;
    width: 400px;
    height: 400px;
}

.see_more {
    height: 400px;
    grid-column: span 3;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.welcomecontainer{
    display:grid;
    width: 1300px;
    grid-template-columns: 50% 50%;
}

.welcomewords{
    display:grid;
    width: 650px;
    height: 440px;
    margin-top: 125px;
}

.welcome{
    display:grid;
    width: 275px;
    height: 250px;
}

.profilepic{
    display:grid;
    background-color: lightskyblue;
    width: 650px;
    height: 440px;
    margin-top: 125px;
}

.projectitle{
    display:grid;
    width: 325px;
    height: 250px;
}

.projectpic {
    display:grid;
    background-color: lightskyblue;
    width: 650px;
    height: 440px;
    margin-top: 125px;
}

.containertwo {
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 1em;
    text-align: left;
}

input[type=text], select, textarea {
    width: 100%;
    border: 4.5px solid rgb(255, 64, 198);
}

.column {
    display: grid;
    width: 300px;
    height: 300px;
}

.row:after {
    display: grid;
}

.contacttitle{
    display:grid;
    width: 500px;
    height: 250px;
}

input[type=submit] {
    color: whitesmoke;
    background-color: rgb(255, 64, 198);
    border: none;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 1em;
    font-weight: 800;
}

#lname{
    width: 300px;
    height: 20px;
}

#subject{
    width: 300px;
}